.sobre-banner {
    background-image: url(../../assets/banner-sobre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-title-banner {
    font-size: 80px;
    text-shadow: 3px 5px 2px #474747;
    color: #fff;
}

.container-sobre-text {
    text-align: center;
    padding: 100px 20px;
}

.sobre-title {
    font-size: 45px;
    text-shadow: 1px 3px 1px #474747;
}

.span-title {
    font-size: 23px;
    font-weight: bold;
}

.sobre-text {
    line-height: 26px;
    margin-top: 35px;
}

.container-sobre-img {
    display: flex;
    width: 100%;
}

.container-sobre-img img {
    width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .container-sobre-img {
        flex-direction: column;
    }
    
    .container-sobre-img img {
        width: 100%;
    }

}

@media (max-width: 435px) {
    .sobre-title-banner {
        font-size: 40px;
    }

    .sobre-title {
        font-size: 35px;
    }
    
    .span-title {
        font-size: 18px;
    }
    

}